---
import { type CollectionEntry,getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from "../components/Hero.astro"
import LastestPost from "../components/LatestPost.astro"
import getSortedPosts from "../utils/getSortedPosts" 

interface Props {
	posts: CollectionEntry<'posts'>[];
}

const posts = await getCollection("posts");


const sortedPosts = getSortedPosts(posts);
const latestPosts = sortedPosts.slice(0, 6);
---

<BaseLayout>
	<div class="container mx-auto">
		<Hero>
			人终究会死，人生只是一个追求人生意义的过程。
		</Hero>
		<div class="heading-title">
			<h3>
				Latest Posts
			</h3>
		</div>
		<LastestPost posts={latestPosts}></LastestPost>
	</div>
</BaseLayout>