---
import { type CollectionEntry,getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from "../components/Hero.astro"
import LastestPost from "../components/LatestPost.astro"

interface Props {
	posts: CollectionEntry<'posts'>[];
}

const posts = await getCollection("posts");


const sortedPosts = posts.sort((a, b) => {
	let left = new Date(b?.data?.pubDatetime).getTime() ?? 0
	let right =  new Date(a?.data?.pubDatetime).getTime() ?? 0

	return left - right
});

const latestPosts = sortedPosts.slice(0, 2);
---

<BaseLayout>
	<div class="container mx-auto">
		<Hero>
			人终究会死，人生只是一个追求人生意义的过程。
		</Hero>
		<LastestPost posts={latestPosts}></LastestPost>
	</div>
</BaseLayout>