---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

---

<BaseLayout>
	<div class="container mx-auto">
		just type the collection
	</div>
</BaseLayout>