---
const currentYear = new Date().getFullYear();
---

<footer class="flex gap-12 text-center justify-between container mx-auto mt-auto items-center py-10">
    <div class="group flex gap-3">
		<p class="flex gap-2 items-center justify-center">
			<a href="https://astro.build"><img src="https://astro.badg.es/v2/built-with-astro/tiny.svg" alt="Built with Astro" width="120" height="20"></a>
		</p>
		<p>&copy; {currentYear} ibucoin</p>
	</div>
	<p class="flex gap-4 text-gray-500">
		<a class="text-gray-500" href="https://twitter.com/liruifengv"> Twitter</a>
		<a href="https://github.com/liruifengv"> GitHub</a>
		<a href="mailto:liruifeng1024@gmail.com"> Email</a>
		<a href="https://liruifengv.com/rss.xml"> RSS</a>
		<a href="/year"> Archive</a>
	</p>
</footer>