---

---
<div class="hero">
    <h1>
        <slot></slot>
    </h1>
</div>

<style>
    .hero {
        margin: 60px 0;

        background-size: auto;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-image: url(../assets/images/heading-background.png);
        background-position: 50% 50%;
        h1 {
            text-align: center;
            padding: 0 20%;
            position: relative;
            line-height: 1.5;
            font-size: 44px;
        }
    }
</style>