---
export interface Props {
  name: string;
  count?: number;
}

const { name, count } = Astro.props;
---

<a
  href={`/tags/${name.toLowerCase()}`}
  transition:name={name.toLowerCase()}
  class={`text-base pr-4 group`}
>
  <span>
    <span class="text-white bg-primary p-2 text-center min-w-20 mb-2 whitespace-nowrap text-sm inline-block rounded-lg">{name.toLowerCase()}{count && count > 0 && `(${count})`}</span>
  </span>
</a>

<style>
</style>